<%- include('header') -%> 
<body>
    <header id="heading" class="box">
        <h1><%= listTitle %> Todo List</h1>
    </header>
    <div class="box">
        <% for( let i = 0; i < newListItems.length; i++ ) { %>
            <div class="item">
                <input type="checkbox" [aria-label="checkbox"]>
                <p class="item"><%= newListItems[i] %></>
            </div>
        <% } %>
    
        <form action="/" method="post" class="">
            <label for="todo"></label>
            <input type="text" name="newItem" id="todo" placeholder="Add Todo" autocapitalize="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>
 <%- include('footer') -%> 
</body>
</html>